@using HyperShop.Models.ViewModels
@model VariationEditVM

<form method="post" asp-action="Edit" enctype="multipart/form-data">
	<div class="border p-3 mt-4 row">
		<div class="row pb-2 col-12">
			<h2 class="text-primary">Edit Product Variation</h2>
			<hr />
		</div>
		
		<div class="mb-3 col-6 row">
			@for(var i=0;i<Model.SizeList.Count;i++)
			{
				<div class="col-6 row">
					<div class="mb-3 col-6">
						<label>@Model.SizeList[i].Key</label>
						<input asp-for="@Model.SizeList[i].Key" type="hidden"/>
					</div>
					<div class="mb-3 col-6">
						<input asp-for="@Model.SizeList[i].Value" type="number" min="0" max="100"/>
					</div>
				</div>
			}
		</div>
		<div class="mb-3 col-6">
			<label asp-for="PrimaryImage"></label>
			<input type="file" id="uploadBox" name="file" class="form-control" />
			<input type="hidden" asp-for="PrimaryImage.ImageUrl"/>
			<input type="hidden" asp-for="PrimaryImage.Product_Id"/> 
			<input type="hidden" asp-for="PrimaryImage.Color_Id"/> 
			<input type="hidden" asp-for="PrimaryImage.Id"/> 
		</div>
		@for(var i = 0; i < Model.ProductVariations.Count; i++)
		{
			<input type="hidden" asp-for="@Model.ProductVariations[i].Id"/>
			<input type="hidden" asp-for="@Model.ProductVariations[i].Product_Id"/>
			<input type="hidden" asp-for="@Model.ProductVariations[i].Color_Id"/>
			<input type="hidden" asp-for="@Model.ProductVariations[i].Size_Id"/>
			<input type="hidden" asp-for="@Model.ProductVariations[i].Quantity"/>
		}

		<div class="mb-3 col-6">
			<label asp-for="ImageList"></label>
			<input asp-for="ImageList" type="file" id="uploadBoxList" multiple class="form-control" />
			<span asp-validation-for="ImageList" class="text-danger"></span>
		</div>
		
		<div class="col-12">
			<button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
			<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
		</div>
	</div>
</form>